<div class="selected_paper" style="width: 30%">
  {% comment %}
    {% bibliography --template selected --group_by none --query @*[ccf=A]* --max 3 %}
  {% endcomment %}
  {% bibliography --template selected --group_by none --max 3 %}
</div>
