---
layout: page
---
<div class="post">
  <article>
    {% assign profiles = site.profiles | sort: 'order' %}
    {% if profiles.size > 0 %}
      {% for profile in profiles %}
        <hr>
        {% assign loopindex = forloop.index0 | modulo: 5 %}
        {% if loopindex == 0 %}
          <div class="profiles_row">
        {% endif %}
        <div class="profile">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle profile-hover-effect' %}
            {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.25}}px, (min-width: 576px) 25vw, 80vw"{% endcapture %}
            {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
          {% endif %}
          {% if profile.more_info %}
            <div class="more-info">{{ profile.more_info }}</div>
          {% endif %}
        </div>
        {% if loopindex == 4 or forloop.last %}
          </div>
        {% endif %}
      {% endfor %}
    {% else %}
      <p>暂无成员信息。请在 _profiles 目录下添加成员信息文件。</p>
    {% endif %}
  </article>
</div>